$ff: 'Oswald', sans-serif;
$fz:16px;
$fw:400;
$fc:#6de063;
$w:1170px;

$flex:flex;
$row:row;
$col:column;
$rowCent:center;
$colCent:center;

$margin-none: 0;
$margin-sm:   5px;
$margin-base: 15px;
$margin-lg:   30px;
$margin-xl:   50;
$margin-xxl:  100;

$padding-xxl:  100;
$padding-xl:   50;
$padding-lg:   30;
$padding-base: 15;
$padding-sm:   5;
$padding-none: 0;